@import "./main";

$primary-blue: #0132de;
$primary-green: #ddff6d;

$header-width: 100px;

.wrapper {
  position: relative;
  background: $primary-blue;
  height: 100vh;
  width: fit-content;
  color: white;
}

.background {
  min-width: 0;
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 500px;
  font-weight: 900;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.bg_canvas_wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  canvas {
    z-index: 1;
  }
}

.bg_text_wrapper {
  position: absolute;
  width: 100%;
  overflow-x: scroll;
  z-index: 2;

  p {
    padding: 0 300px;
    white-space: nowrap;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}


.content {
  min-width: 0;
  height: 100%;
}

.wud_header {
  position: fixed;
  border-right: 2px solid white;
  height: 100%;
  width: $header-width;
  writing-mode: vertical-rl;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
  padding: 35px 0;
  background: $primary-blue;

  .header_left {
    display: flex;
    align-items: center;
  }

  .wud_logo {
    margin-top: 40px;
    font-weight: bold;
    font-size: 24px;

    strong {
      color: $primary-green;
    }
  }

  .wud_date {
    transform: translateY(-35px);
    font-size: 20px;
  }
}

.scroll_frame {
  height: 100%;
  width: 100vw;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  height: 100%;
  display: flex;
  width: fit-content;
}

section {
  height: 100%;
  z-index: 3;
}

.hero {
  width: 100vw;
}

.about {
  width: 1490px;

  .about_inner {
    background: white;
    width: 934px;
    height: 100%;
    border-left: 2px solid $primary-blue;
    border-right: 2px solid $primary-blue;

    .about_wrapper {
      display: flex;

      .about_content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20%;

        article {
          width: 75%;
          color: $primary-blue;

          b {
            font-size: 45px;

            &:first-child {
              display: inline-block;
              margin-bottom: 20px;
            }
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.talks {
  width: 3685px;

  .talks_inner {
    height: 100%;
    background: $primary-blue;
    width: 3130px;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
}

.organizers {
  width: 1564px;

  .organizers_inner {
    height: 100%;
    background: white;
    width: 934px;
    border-left: 2px solid $primary-blue;
    border-right: 2px solid $primary-blue;

    .organizers_wrapper {
      display: flex;

      .organizers_content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20%;

        article {
          width: 75%;
          color: $primary-blue;

          b {
            font-size: 45px;

            &:first-child {
              display: inline-block;
              margin-bottom: 20px;
            }
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.sponsors {
  width: 934px;

  .sponsors_inner {
    height: 100%;
    background: white;
    width: 934px;
    border-left: 2px solid $primary-blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sponsors_wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      article {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20%;
        color: $primary-blue;
        flex: 1;
        flex-wrap: nowrap;

        > div {
          width: 800px;

          .logo_bundle {
            margin-top: 30px;

            p {
              font-size: 14px;
              font-weight: 600;
            }

            ul {
              display: flex;
              flex-wrap: wrap;
              gap: 2rem;
              list-style-type: none;
              width: 700px;
              padding-left: 0;

              li {
                height: 80px;

                img {
                  width: fit-content;
                  height: 100%;
                }
              }
            }
          }
        }
      }

      footer {
        height: 200px;
        background-color: $primary-blue;
        font-weight: 600;
        display: flex;
        flex-direction: column;

        .footer_block {
          display: flex;
          padding: 20px 80px;
          justify-content: space-between;

          &_top {
            flex: 1;
            border-bottom: 1px white solid;

            > div {
              display: flex;
              column-gap: 16px;
              flex-wrap: wrap;
              row-gap: 8px;

              p {
                width: 100%;
              }
            }
          }

          &_bottom {
            flex-grow: 0;

            div:nth-child(2) {
              display: flex;
              gap: 32px;

              a {
                display: flex;
                align-items: center;
              }
            }
          }
        }

        p {
          color: white;
          opacity: .75;
          font-size: 14px;
        }
      }
    }

  }
}

.about_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.talks_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.organizers_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.marquee_wrapper {
  font-size: 120px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;

  span {
    animation: marquee 5s linear infinite;
    display: inline-flex;
    will-change: transform;

    pre {
      margin: 0;
    }
  }
}

@keyframes marquee {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-100%);
  }
}

.marquee_horizontal {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 10px 0;
}

.marquee_vertical {
  width: 100vh;
  position: absolute;
  padding: 10px 0;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100%);
}

.marquee_blue {
  border-top: 2px solid white;
  color: $primary-green;
}

.marquee_white {
  border-top: 2px solid $primary-blue;
  color: $primary-blue;
}